  
  body:focus {
    outline: none;
  }


  html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-size : 20px
}

button,input,form {
    font-size : 20px
}