{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'memorygame/style.css' %}">

<body>
    <h1> Main Index </h1>

    <a href="{% url 'memorygame:index' %}"> Index </a>
    <br/><br/>
    <a href="{% url 'memorygame:question'%}"> Next Question </a>
    <br/><br/>
    <a href="{% url 'memorygame:user' %}"> User Session </a>
    <br/><br/>
    <a href="{% url 'memorygame:program_view' %}"> Program view </a>
    <br/><br/>

    <form action="{% url 'memorygame:login_screen' %}" method="post" style="display:inline-block">
        {% csrf_token %}
        <input type="submit" value="Login" />
    </form> &nbsp;&nbsp;&nbsp;&nbsp;

    <form action="{% url 'memorygame:logout' %}" method="post" style="display:inline-block">
        {% csrf_token %}
        <input type="submit" value="Logout" />
    </form>

</body>