<body>

    <h4> Porgram details for {{q.program.name}} </h4>
    <ol>
        {% for q in program_list %}
        <li>
            <pre> Category of {{q.category}} number of questions {{q.number_of_questions}}  </pre>

        </li>
        {% endfor %}
    </ol>

    <h4> User progress </h4>
    <ol>
        {% for q in progress_list %}
        <li>
            <pre> Category of {{q.question_log__question__category}}: Mark so far {{q.mark_l}} ({{q.mark}}%)  Total questions: {{q.question_per_category}}  Correct ones: {{q.correct_ones}}  </pre>

        </li>
        {% endfor %}
    </ol>
</body>