

<script>
    var msg = new SpeechSynthesisUtterance('{{question_voice}}');
  </script>  

<script src='https://code.responsivevoice.org/responsivevoice.js'></script>



<!--<body onload="window.speechSynthesis.speak(msg);" -->

    <body onload=    "responsiveVoice.speak('{{question_voice}}', 'US English Female', {rate: 0.5} );" ></body>

    <h3> Question #{{question_id}}: {{question_instructions}} </h3>

    <form action="{% url 'memorygame:question/question_answer' %}" method=post novalidate>
        {% csrf_token %}
        <table border="1">
            {{form.as_table}}
        </table>
    <button type="submit">Answer now</button>
    </form>
</body>
